.wybor-postaci{
    display: flex;
    justify-content: space-around;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.non-selectable-component {
    user-select: none;
    -webkit-user-select: none; /* Dla Safari i Chrome */
    -moz-user-select: none;    /* Dla Firefox */
    -ms-user-select: none;     /* Dla IE10+ */
  }
  