:root {
  --main-color: #eee;
  --window-load-color:#fff;
  --search:#d5d5d5;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MainWindow{
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.COL1{
  width: 25%;
  display: flex;
  flex-direction: row;
}
.COL2{
  width: auto;
  display: flex;
  flex-direction: row;
}
.A1{
  width: 200px;
}
.A2{
}
.B1{

}
.B2{
  width: 80%;
  background-color: var(--window-load-color);
  border-radius: 7px;
  padding: 7px;
}
.MENU{
  display: flex;
  flex-direction: column;
}
.MENU > a {
    background-color: aliceblue;
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
}
.logo-img{
  width: 100px;
  height: 50px;
}
.SearchMain{
  display: flex;
  flex-direction: row;
}
.search-input {
  padding: 3px 18px 3px 38px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 19px;
  background-color: var(--search);
  min-width: 150%;
  height: 40px;
}
.search-SVG {
  padding: 8px;
  border-radius: 25px;
  position: relative;
  left: 45px;
  cursor: pointer;
}
.vh80{
  height: 70vh;
  overflow-y: scroll;
  padding: 7px;
}

.EXIT {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
}


.btn-1 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}
.btn-1:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}



#LOGOWANIE{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--search);
  padding: 70px 0px 90px 0px;
  border-radius: 5px;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.LG{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos-SWG{
object-fit: contain;
  width: 130px;
  margin: 20px;
}
.logos{
display: flex;
  justify-content: center;
  background-color: #000000;
  border-radius: 8px;
  width: 210px;
}
#logowanie-s{
  margin-top: 30px;
}




.dodajUzytkownika{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.underForm{
  display: flex;
}
.COL22{
  display: flex;
  flex-direction: column;
}





.generujHasloDiv{
  display: flex;
  flex-direction: column-reverse;
}
.odw{
  display: flex;
  flex-direction: column-reverse;
}
.myContainer {
  display: flex;
  align-items: center;
}
.btn-kopiuj{
  margin-left: 7px;
}



.divWithScroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/* Styluje kciuk przewijania */
.divWithScroll::-webkit-scrollbar-thumb {
  background-color: #F90; 
}

/* Styluje przycisk przewijania */
.divWithScroll::-webkit-scrollbar-button {
  background-color: #F90;
}